<nav class="navbar navbar-expand-md" style="background-color:#03045E;">
	<div class="container-fluid">
		<a class="navbar-brand navbar-blue" asp-controller="Home" asp-action="Index">
			<img src="/img/logo2.png" alt="Logo" height="35" class="d-inline-block align-middle me-2">
			<span class="align-middle">Arslan Project Manager</span>
		</a>
		<button class="navbar-toggler ms-auto bg-light" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		@{
			var isAuthenticated = User.Identity?.IsAuthenticated ?? false;
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav">
					<li class="nav-item active px-1">
						<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index2">Home</a>
					</li>
					<li class="nav-item px-1">
						<a class="nav-link" asp-area="" asp-controller="Projects" asp-action="Index">Projects</a>
					</li>
					<li class="nav-item px-1">
						<a class="nav-link" asp-area="" asp-controller="Tasks" asp-action="Index">Tasks</a>
					</li>
					<li class="nav-item px-1">
						<a class="nav-link" asp-area="" asp-controller="Teams" asp-action="Index">Teams</a>
					</li>
				</ul>
				<ul class="navbar-nav ms-auto">
					@if (isAuthenticated)
					{
						<li class="nav-item px-1 navbar-text">@User.Identity?.Name</li>
						<li class="nav-item px-1"><a class="nav-link " asp-area="" asp-controller="User" asp-action="Index">Profile</a></li>
						<li class="nav-item px-1"><a class="nav-link " asp-area="" asp-controller="User" asp-action="Logout">Logout</a></li>
					}
					else
					{
						<li class="nav-item px-1">
							<a class="nav-link " asp-area="" asp-controller="User" asp-action="Login">Login</a>
						</li>
						<li class="nav-item px-1">
							<a class="nav-link " asp-area="" asp-controller="User" asp-action="Register">Register</a>
						</li>
					}
				</ul>
			</div>
		}
	</div>
</nav>