<footer class="border-top footer text-muted ">
	<div class="container pt-2 pb-3">
		&copy; 2025 - ArslanProjectManager WEB Project by Ufuk Mert Arslan - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
	</div>
</footer>