@model ChangePasswordViewModel

<div class="container-xl px-4 mt-4">
    <div class="row">
        <div class="col-lg-8">
            <!-- Change password card-->
            <div class="card mb-4">
                <div class="card-header">Change Password</div>
                <div class="card-body">
                    <form asp-action="ChangePassword" asp-controller="User" method="post">
                        <!-- Form Group (current password)-->
                        <div class="mb-3">
                            <label asp-for="Password" class="small mb-1" for="Password">Current Password</label>
                            <input asp-for="Password" class="form-control" type="password" placeholder="Enter current password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <!-- Form Group (new password)-->
                        <div class="mb-3">
                            <label asp-for="NewPassword" class="small mb-1">New Password</label>
                            <input asp-for="NewPassword" class="form-control" type="password" placeholder="Enter new password">
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <!-- Form Group (confirm password)-->
                        <div class="mb-3">
                            <label asp-for="ConfirmNewPassword" class="small mb-1">Confirm Password</label>
                            <input asp-for="ConfirmNewPassword" class="form-control" type="password" placeholder="Confirm new password">
                            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="submit" class="btn btn-primary" value="Save"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <!-- Delete account card-->
            <div class="card mb-4">
                <div class="card-header">Delete Account</div>
                <div class="card-body">
                    <p>Deleting your account is a permanent action and cannot be undone. If you are sure you want to delete your account, select the button below.</p>
                    <button class="btn btn-outline-danger" type="button">I understand, delete my account</button>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.AntiForgeryToken()

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }

        .card .card-header {
            font-weight: 500;
        }

    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }

    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }

    .form-control, .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
    }

    .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .btn-danger-soft {
        color: #000;
        background-color: #f1e0e3;
        border-color: #f1e0e3;
    }
</style>